* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(0, 0, 0), black);
    padding: 20px;



    section {
        height: 100%;
        width: 350px;
        background-color: black;
        border-radius: 15px;
        margin: auto;


        .all-reels {
            height: 100%;
            width: 100%;
            overflow: auto;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
            // background-color: red;

            .reels {
                height: 100%;
                width: 100%;
                // background-color: lightblue;
                overflow: hidden;
                border-radius: 15px;
                position: relative;
                margin-bottom: 20px;
                scroll-snap-align: start;
                scroll-snap-stop: always;

                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .bottom {
                    width: 100%;
                    padding: 30px 20px;
                    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.392));
                    position: absolute;
                    bottom: 0;

                    h3 {
                        font-weight: 500;
                        font-size: 20px;
                    }

                    .user {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        margin-bottom: 20px;

                        h4 {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        button {
                            padding: 3px 8px;
                            background-color: transparent;
                            font-size: 13px;
                            border-radius: 5px;
                            border: 1px solid rgba(0, 0, 0, 0.818);
                            // border: none;
                            // color: black;
                            // background-color: aqua;

                        }

                        img {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }

                .right {
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 40px;
                    position: absolute;
                    right: 0;
                    bottom: 10%;
                    // transform: translateX(100%);
                    gap: 15px;
                    font-size: 28px;
                    text-align: center;

                    // background-color: #7e3333;
                    // padding: 20px;
                    h6 {
                        font-weight: 500;
                        pointer-events: none;
                    }

                    i {
                        font-weight: 500;

                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        width: 50px;

                        // background-color: red;
                        h4 {
                            pointer-events: none;
                        }
                    }

                }


            }
        }

        .all-reels::-webkit-scrollbar {
            display: none;
        }

        #fill {
            color: red;
        }

        .mute {
            padding: 12px 15px;
            border-radius: 50%;
            background-color: rgb(70, 70, 70);
            color: white;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 10px;
            right: 10px;

            i {
                pointer-events: none;
            }

        }

        .mute:active {
            scale: 0.95;
        }
    }




}